APP_NAME=ConnectedCoursesPreview
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://courses.connectededucation.com:8088
FRONTEND_URL=http://courses.connectededucation.com:8088

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=connected_courses_preview
DB_USERNAME=connected_preview
DB_PASSWORD=change_me

DOCKER_DB_DATABASE=connected_courses_preview
DOCKER_DB_USERNAME=connected_preview
DOCKER_DB_PASSWORD=change_me
DOCKER_DB_ROOT_PASSWORD=change_root_password
DOCKER_DB_PORT=3318

HTTP_PORT=8088
HTTPS_PORT=8448

RUN_MIGRATIONS=true
RUN_SEEDERS=false
